@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --jersey-10: "Jersey 10", sans-serif;
  --jersey-15: "Jersey 15", sans-serif;
  --jersey-20: "Jersey 20", sans-serif;
  --jersey-25: "Jersey 25", sans-serif;
  --jacquard-24: "Jacquard 24", sans-serif;
}

/* Autres styles globaux */

.controller__button {
  @apply rounded border-2 border-GameBoy-white text-GameBoy-white;
}
.controller__button:hover {
  @apply bg-white text-zinc-700;
}
.controller__button:active {
  @apply border-zinc-700 bg-zinc-700 text-white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

main {
  margin: auto;
}

.arena__card {
  @apply w-1/3 bg-GameBoy-black text-GameBoy-white m-4 p-6 rounded border-4 border-GameBoy-white outline outline-GameBoy-black;
}
.arena__card__progressBar {
  @apply flex justify-start items-center gap-4 text-lg;
}

/* Styles pour la scrollbar */
.scrollbar-custom {
  /*scrollbar-color: red blue; !* Couleur de la barre et de son arrière-plan *!*/
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0.75rem; /* Largeur de la scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #fff; /* Couleur de fond de la scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #000; /* Couleur de la barre de défilement */
}

/* Toujours visible (overflow-y: scroll force l'affichage même sans scroll) */
.scrollbar-always-visible {
  overflow-y: scroll;
}

/*!* Pour les navigateurs qui supportent les scrollbars personnalisées *!*/
/*.scrollbar::-webkit-scrollbar {*/
/*  width: 0.75rem; !* Largeur de la scrollbar *!*/
/*}*/

/*.scrollbar::-webkit-scrollbar-track {*/
/*  background: #fff; !* Couleur de fond de la scrollbar *!*/
/*}*/

/*.scrollbar::-webkit-scrollbar-thumb {*/
/*  background-color: #000; !* Couleur de la barre de défilement *!*/
/*}*/

/* Pour les navigateurs Firefox*/
/*.scrollbar::-moz-scrollbar {*/
/*  width: 0.75rem;*/
/*}*/

/*.scrollbar::-moz-scrollbar-track {*/
/*  background: #000;*/
/*}*/

/*.scrollbar::-moz-scrollbar-thumb {*/
/*  background-color: #000;*/
/*  border-radius: 0.375rem;*/
/*}*/
