@tailwind base;
@tailwind components;
@tailwind utilities;

.controller__button {
  @apply rounded border-2 border-GameBoy-white text-GameBoy-white;
}
.controller__button:hover {
  @apply bg-white text-zinc-700;
}
.controller__button:active {
  @apply border-zinc-700 bg-zinc-700 text-white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  @apply p-4;
}

main {
  margin: auto;
}
